*{
    margin: 0;
    font-family: Raleway;
}
#Testimonials{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#Testimonial-1{
    margin:1rem;
}
#dialog-front{
    background-color: #1e1e1e;
    color: white;
    width:80vmin;
    font-size: 2.5rem;
    padding: 30px 20px 30px 20px; 
    border-radius: 30px;
    margin: 10px;
}
#dialog-back{
    background-color: #1e1e1e;
    width: 30px;
    height: 40px;
    rotate: 45deg;
    margin-left: 60px;
    margin-top: -40px;
}
#name-profession{
    margin-top: 2.5rem;
}
#details-1{
    display: flex;
}
#image-1{
    border-radius: 50%;
    margin: 10px;
    margin-left: 20px;
}
#name{
    font-family: Roboto;
    font-size: 2rem;    
}
#profession{
    font-family: Roboto;
    font-size: 1rem;
}
#Testimonial-2{
    border: 3px solid #1e1e1e;
    width:80vmin;
    padding: 25px;
    border-radius: 30px;
    margin:1rem;
}
#comment{
    font-size: 2.5rem;
}
#details-2{
    display: flex;
    margin-top: 10px;
}
#image-2{
    border-radius: 50%;
    margin: 10px;
    margin-left: 0;
}
